#about p {
  transition: all 1s ease;
}

#about p:last-of-type {
  margin: 0;
}

.portrait {
  display: block;
  position: relative;
  width: 60vw;
  height: auto;
  max-width: 320px;
  border-radius: 100%;
  margin-bottom: 2.5rem;
  transform: scale(0);
}

.portrait.animate {
  animation: pop 1s ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}