
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: 'Outfit', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  line-height: 1.25rem;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition: all 0.3s ease;
  white-space: nowrap;
  opacity: 0;
}

.btn:hover,
.btn-focus-visible {
  letter-spacing: 0.25rem;
}

.btn-primary {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.btn-primary:hover,
.btn-primary:focus-visible {
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.btn-outline {
  border-color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 0.35);
  background-color: transparent;
}

.btn-outline:hover,
.btn-outline:focus-visible {
  border-color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
  background-color: transparent;
}

.external::after {
  content: '';
  display: inline-flex;
  width: 0.875rem;
  height: 0.875rem;
  background-image: url('../images/icons/icon_external-link.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
}

.btn.animate {
  animation: unblur 1s ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@media (min-width: 992px) {
  .btn {
    padding: 1.25rem 2.5rem;
  }
}