body {
  position: relative;
  background-image: linear-gradient(to top, rgba(251, 251, 251,1) 0%, rgba(241, 241, 241, 1) 100%);
  background-attachment: fixed;
}

*:focus-visible {
  outline: 1px solid #000 !important;
  outline-offset: 0.25rem;
}

.dark-mode *:focus-visible {
  outline-color: #fff !important;
}

.page-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12vh 7vw 10vh;
  min-height: 100vh;
  height: 100%;
}

.section-title {
  display: block;
  transform: translateY(100%);
  opacity: 0;
  margin-bottom: 3rem;
}

.section-title.animate {
  animation: slideUp 1s ease, fadeIn 1s ease;
  animation-delay: 0s, 0.3s;
  animation-fill-mode: forwards;
}

.section-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0 0;
}

a {
  color: black;
  position: relative;
  font-weight: 300;
  text-decoration: none;
}

p a {
  display: inline-flex;
  line-height: 1.4;
}

p a::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 1px;
  background-color: black;
  transition: width 0.2s ease,
              left 0.2s ease,
              right 0.2s ease;
}

p a:hover::before,
p a:focus-visible::before {
  left: 50%;
  right: 50%;
  width: 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}

.tag {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 300;
  white-space: nowrap;
  padding: 0.25rem 0.625rem;
  border-radius: 1.5rem;
  transform: scale(0);
}

.tag.animate {
  animation: pop 0.5s ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@media (min-width: 576px) {
  .tag {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1600px) {
  .page-section {
    padding: 120px 7vw;
  }

  .section-title {
    margin-bottom: 3rem;
  }

  .section-footer {
    padding: 2.5rem 0 0;
  }

  .hero {
    padding: 240px 7vw 5rem;
  }
}
