.navbar {
  background-color: rgba(241, 241, 241, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0;
  transition: top 0.3s ease;
}

.navbar.hide {
  top: -4rem;
}

.navbar .container-fluid {
  padding: 0.25rem 7vw;
}

.navbar-brand {
  font-size: 0.75rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.navbar-logo {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-options {
  display: flex;
  align-items: center;
  position: relative;
  right: -1.5rem;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
  gap: 1vh;
  height: calc(100vh - 4rem);
}

.nav-item {
  display: flex;
  align-items: center;
  color: black;
  font-family: 'Dm Serif Display', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.25rem;
}

.nav-link {
  position: relative;
  color: black;
  padding: 0.75rem 1rem !important;
  box-shadow: none !important;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.2s ease,
              left 0.2s ease,
              right 0.2s ease;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link.active::before {
  width: auto;
  left: 0.75rem;
  right: 0.75rem;
}

.nav-link.btn {
  padding: 1rem 2rem !important;
}

.nav-link.btn::before {
  content: none;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: auto;
  height: 100%;
  border: 0;
  border-radius: 0.25rem;
  padding: 1.25rem 1.5rem;
  line-height: 1;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:focus-visible {
  cursor: pointer;
  outline: 0;
  box-shadow: none;
}

.hamburger {
  height: 1rem;
  transition: transform 0.15s ease;
}

.icon-bar {
  display: block;
  background: black;
  width: 0.75rem;
  height: 1px;
  margin: 3px 0;
  transition: all 0.2s ease;
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
  transform: translateY(-3px) rotate(-45deg);
}

@media (min-width: 992px) {
  .navbar .container-fluid {
    padding: 0.5rem 7vw;
  }

  .navbar.hide {
    top: -5rem;
  }

  .navbar-brand {
    width: 4rem;
    height: 4rem;
  }

  .navbar-brand:hover .navbar-logo {
    transform: scale(1.1);
  }

  .navbar-collapse {
    order: 1;
  }

  .navbar-options {
    right: 0;
    order: 2;
  }

  .navbar-nav {
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-item {
    font-family: 'Outfit', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }


}

@media (min-width: 1200px) {
  .navbar .container-fluid {
    padding: 1rem 7vw;
  }

  .navbar.hide {
    top: -6rem;
  }
}

/**
 * Dark Mode Switch
 */
 .switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
}

.switch input:focus-visible + .slider {
  outline: 1px solid #000;
  outline-offset: 0.25rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  transition: 0.4s;
  border-radius: 2rem;
}

.slider:hover,
.slider:focus-visible {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 3px;
  background-image: url('../images/icons/icon_bright.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  transition: all 0.4s ease;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: transparent;
}

input:checked + .slider:before {
  transform: translateX(1.25rem);
}

.dark-mode .slider {
  border-color: rgba(255, 255, 255, 0.35);
}

.dark-mode .slider:hover {
  border-color: rgba(255, 255, 255, 1);
}

.dark-mode .slider::before {
  background-image: url('../images/icons/icon_dark-white.svg');
  background-size: 1.25rem;
}

.dark-mode .switch input:focus-visible + .slider {
  outline-color: #fff;
}