#resume {
  display: flex;
  flex-direction: column;
}

.cv-section {
  width: 100%;
}

.cv-section-header {
  margin-bottom: 2.5rem;
}

.cv-section-header::after {
  content: '';
  display: flex;
  border-bottom: 1px solid rgb(58, 59, 63);
  width: 0;
  transition: width 1s;
}

.cv-section-title {
  opacity: 0;
  transition: translate 1s ease;
}

.cv-section-header.animate .cv-section-title {
  animation: slideUp 1s ease, fadeIn 1s ease;
  animation-delay: 0s, 0.3s;
  animation-fill-mode: forwards;
}

.cv-section-header.animate::after {
  width: 100%;
}

.cv-section-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cv-entry {
  position: relative;
  padding-left: 3rem;
}

.cv-entry-inner {
  opacity: 0;
}

.cv-entry.animate .cv-entry-inner {
  animation: fadeIn 1s ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.cv-entry.animate .company,
.cv-entry.animate .date {
  opacity: 1;
} 

.cv-entry-inner:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.cv-entry::before {
  content: '';
  display: flex;
  position: absolute;
  left: -0.375rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(58, 59, 63);
  border-radius: 100%;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

.cv-entry.animate::before {
  transform: scale(1);
  transition-delay: unset;
}

.cv-entry.animate:hover::before {
  transform: scale(1.1);
}

.cv-entry:not(:last-of-type)::after {
  content: '';
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1px;
  height: 0;
  border-left: 1px solid rgb(58, 59, 63);
  transition: all 1s ease;
}

.cv-entry:not(:last-of-type).animate::after {
  height: calc(100% + 1.5rem);
}

.company,
.date {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  font-family: 'Outfit';
  font-weight: 300;
  opacity: 0;
  transition: all 0.3s ease;
}

.date {
  margin-bottom: 0.5rem;
}

.job-title {
  display: flex;
  font-family: 'Dm Serif Display', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 0.25rem;
}

.cv-entry-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  max-width: 640px;
  margin: 0;
}

/* Languages */
.cv-languages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cv-language {
  width: 50%;
  opacity: 0;
}

.cv-language.animate {
  animation: slideUp 1s ease, fadeIn 1s ease;
  animation-delay: 0s, 0.3s;
  animation-fill-mode: forwards;
}

.cv-language-title {
  display: block;
  font-family: 'Dm Serif Display', sans-serif;
  font-size: 1.5rem;
}

.cv-language-level {
  display: block;
  font-size: 0.875rem;
}

.cv-columns {
  display: flex;
  flex-direction: column;
  gap: 5rem 4rem;
  width: 100%;
  margin-bottom: 2.5rem;
}

.cv-header {
  margin-bottom: 4rem;
}

.nav-tabs {
  justify-content: center;
  column-gap: 1.5rem;
  border: 0;
}

.nav-tabs .nav-link {
  font-family: 'Outfit', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  border-radius: 0;
  box-shadow: none;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus-visible,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.tab-content {
  width: 100%;
  max-width: 1600px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-title {
  display: flex;
  font-size: 1.25rem;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 0.5rem;
}

.progress {
  background-color: rgba(0, 0, 0, 0.15);
  height: 0.25rem;
}

.progress-bar {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  width: 0;
}

.progress-bar.animate {
  animation: progressBar 1s ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .tab-pane .cv-section {
    width: calc(50% - 2rem);
  }

  .cv-columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1600px) {
  .cv-section-title {
    font-size: 2.5rem;
  }

  .job-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
