body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  line-height: 1;
}

h1,
.h1 {
  font-size: 4rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

.subtitle {
  display: block;
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

p {
  line-height: 2rem;
  max-width: 960px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease;
}

p.animate {
  animation: slideUp 1s ease, fadeIn 1s ease;
  animation-delay: 0s, 0.3s;
  animation-fill-mode: forwards;
}

.lead {
  font-size: 1.25rem;
  line-height: 2rem;
  max-width: 720px;
}

b,
strong {
  font-weight: 600;
}

@media (min-width: 576px) {
  body {
    font-size: 1.25rem;
  }

  h1,
  .h1 {
    font-size: 6rem;
  }

  h2,
  .h2 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 992px) and (min-height: 992px) {
  h3,
  .h3 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem
  }
}

@media (min-width: 1200px) and (min-height: 992px) {
  h2,
  .h2 {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  body {
    font-size: 1.25rem;
  }

  p {
    line-height: 2.5rem;
  }
}

@media (min-width: 1600px) and (min-height: 992px) {
  h1,
  .h1 {
    font-size: 160px;
    line-height: 128px;
  }

  h2,
  .h2 {
    font-size: 112px;
    line-height: 96px;
  }

  .lead {
    font-size: 2rem;
    line-height: 3rem;
    max-width: 720px;
  }
}
