.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4rem 2rem;
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
}

.work-list-item {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  height: 100%;
  border-radius: 0;
  transform: translateY(25%);
  opacity: 0;
}

.card:focus-visible {
  outline-offset: 1rem;
}

.card.animate {
  animation: cardSlideUp 1s ease, fadeIn 1s ease;
  animation-delay: 0s, 0.3s;
  animation-fill-mode: forwards;
}

a.card:hover img,
a.card:focus-visible img {
  transform: scale(1.08);
  opacity: 0.3;
}

a.card:hover .btn,
a.card:focus-visible .btn {
  opacity: 1;
}

a.card[target="_blank"] .card-img-top .btn::after {
  background-image: url('../images/icons/icon_external-link-white.svg');
}

.card-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
}

.card-img-top {
  position: relative;
  padding-top: 56.25%;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 0;
  overflow: hidden;
  margin: 0;
}

.card-img-top .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
  border-color: white;
  color: white;
  opacity: 0;
}

.card-img-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.24, 0.74, 0.22, 0.99);
  object-fit: cover;
}

.card-title {
  margin-bottom: 0.25rem;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.client,
.employer {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  font-family: 'Outfit';
  font-weight: 300;
}

.card .tag-list {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .work-list-item {
    width: calc(50% - 2rem / 2);
  }

  .card-text {
    font-size: 1rem;
    max-width: 95%;
  }
}

@media (min-width: 1600px) {
  .work-list-item {
    width: calc(33.333333% - 2rem / 3 * 2);
  }
}
